$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

// c3:scss 
@import "c3.scss";
// endc3

body { 
  margin:0; 
  padding:0;
  background:#353535;
  color: #FFF;
  font-family: 'Open Sans', sans-serif; 
}

#header {
  position: absolute;
  z-index: 5;
  padding-left: 60px;
  padding-top: 0px;
  margin-top: -10px;
}
  
h1 {
  text-transform: uppercase;
  font-size:4vw;
}

section {
  position: relative;
  overflow: hidden;
  min-height: 500px;
}

#content-sidebar {
  width: 500px;
  position: absolute;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
  right: 0;
  height: 100%;
  padding:20px;
  overflow-y: auto;
  h3, h5 {
    text-align:center;
    margin-top:0px;
  }
  h5 {
    border-bottom: 1px solid #4B4B4B;
    padding-bottom: 14px;
    margin-bottom: 20px;
  }
}
#content {
  display:none;
}

#text-intro {
  margin-bottom: 20px;
  line-height: 26px;
  .help {
    color:#828181;
  }
}

#chart-intro {
  width:100%;
  color:#444;
  height:400px;
  line {
    stroke:#FFF;
  }
  text {
    color:#FFF;
    fill:#FFF;
  }
  path {
    stroke:#FFF;
  }
}


#map { 
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%; 
}

.attr-row {
  font-size: 1.6em;
  padding: 2px;
  margin-bottom: 5px;
}

//what
#what-section {
  background: #FAFAFA;
  color: #444;
  //box-shadow: inset 0px 0px 21px -3px #444;
  min-height: 300px;
  padding-top: 50px;
}
.what-container {
  text-align: center;
}
.what-container #define {
  width: 75%;
  margin:auto;
  line-height: 35px;
}


//chart
#stats-section {  
  padding-top: 100px;
}


//focus
#focus-section {
  background: #FAFAFA;
  color: #444;
  padding-top:50px;
}